@{
    Layout = "_AdminLTE";
}
<html>
<head>

</head>
<body>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <h3>Brochure of Material</h3>

                <p>
                    <br />
                    Cuscen VARs who wish to be eligible to participate in the Partner Referral Program must meet the following requirements.<br />
                    <ul>
                        <li>
                            Remain a Partner in Good Standing at all times
                        </li>
                        <li>
                            Must be Silver or Gold Certified – with preference given to Gold partners certified to a specific Cuscen Edition
                        </li>
                        <li>
                            Maintain Minimum Customer Satisfaction (CSAT) Score
                        </li>
                        <li>
                            Maintain a Level 2 Margin, or higher
                        </li>
                        <li>
                            Must have a legal agreement with referring party regarding the referral fee and the executed agreement must be attached to the
                            opportunity in CRM
                        </li>
                        <li>
                            Certified VAR Partner agrees to pay a minimum 5% of the Cuscen subscription to referring party upon deal close and receipt
                            of payment. In addition, the Referral Partner will continue to pay a 5% referral fee for as long as the customer renews
                            their Cuscen subscription.
                        </li>
                    </ul>                
                                        
                    Note: The 5% referral fee pertains to software sold from the Cuscen price list only. Because software or services sold 
                    outside the Cuscen price list may have different margins, or no margins, any additional add-on subscriptions, services or 
                    other customer charges must be negotiated between the referring party and the Referral Partner.
                </p>
            </div>
        </div>
    </section>
</body>
</html>
