@{
    ViewData["Title"] = "Home Page";
}
<div>
    <center>
        @*<img src="~/img/portal.png" alt="Portal Logo" width="100%" max-width="100%" height="80%">*@
        <img src="~/img/background.png" alt="Portal Logo" width="100%" max-width="100%" height="85%">
    </center>
</div>
