@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @*<li class="nav-item">
    <div class="dropdown">
    <button class="dropbtn">Request</button>
    <div class="dropdown-content">
    <a class="nav-link text-dark" asp-area="" asp-controller="Incident" asp-action="Create">Create Incident</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Incident" asp-action="IndexIncident">View Tickets</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Incident" asp-action="Create">Request</a>
   </div>
   </div>
   </li>*@
     @*<li class="nav-item">
     <a class="nav-link text-dark" asp-area="" asp-controller="Incident" asp-action="Create">Reporting</a>
     </li>*@
    <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color: black">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link" style="color: black">Logout</button>
        </form>
    </li>
    
}
else
{
    @*<li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user"></i>
                    Register
          
            </a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-user"> </i>
                    Login 
               
            </a>
    </li>
}
</ul>
