<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_CUSCEN-RM_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-NO6S8T9\CUSCEN;user id=;password=;initial catalog=CUSCEN-RM;Persist Security Info=true" />
    </connectionStrings>
</configuration>